@define-mixin atSmall {
    @media (min-width: 640px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 990px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1380px) {
        @mixin-content;
    }
}

@define-mixin clearFix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
