.feature-item {
    position: relative;
    display: block;
    padding-bottom: 2.5rem;

    @mixin atSmall {
        padding-left: 100px;
    }

    &__icon {
        display: block;
        margin: 0 auto -.5rem;

        @mixin atSmall {
            position: absolute;  
            left: 0;  
        }
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: .8rem;

        @mixin atSmall {
            font-size: 1.875rem;
            text-align: left;
            
        }
    }
}