.row {
  /*background-color: $testCol2;*/

    @mixin clearFix {}

    &--gutters {
        margin-right: -65px;
    }

    &--gutters-large {
        margin-right: -100px;
    }

    &--gutters > div {
        padding-right: 65px;
    }

    &--gutters-large > div {
        padding-right: 100px;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }

    @mixin atSmall {

        &__medium-2 {
            float: left;
            width: 16.66%; 
        }

        &__b-margin-until-medium {
            margin-bottom: 0;
        }

        &__medium-4 {
            float: left;
            width: 33.33%;
        }

        &__medium-4-wider {
            width: 37%;
        }

        &__medium-6 {
            float: left;
            width: 50%; 
        }

        &__medium-8 {
            float: left;
            width: 66.66%;
        }

        &__medium-8-narrower {
            width: 63%;
        }

        
        
        
    }
}