.testimonial {
    background-color: rgba(255,255, 255, 0.75);
    padding: 0 1.8rem 1px 1.8rem;

    img {
        display: block;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto -80px auto;
        position: relative;
        top:-80px;
        border: 6px solid #fff;
    }

    h3 {
        color: $mainBlue;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin:0;
    }

    h4 {
        color: $mainOrange;
        text-align: center;
        font-weight: 500;
        margin: .3rem 0 1rem 0;
        
    }  
}
